---
import Github from "./Icons/Github.astro";

const { project } = Astro.props;
const { name, image, technologies, description, link, repository } = project;
---

<article
  class="bg-neutral-800 rounded-md overflow-hidden hover:scale-105 transition-transform duration-300 flex flex-col"
>
  <a href={link} target="_blank" rel="noopener" class="flex-grow flex flex-col">
    <picture>
      <img
        src={image}
        alt="Image Project 1"
        class="w-full object-cover aspect-video"
        loading="lazy"
      />
    </picture>
    <div class="p-7 flex flex-col h-full gap-4">
      <h3 class="font-semibold text-xl uppercase text-slate-200">{name}</h3>
      <ul class="flex flex-wrap gap-2 items-start">
        {
          technologies.map((technology) => {
            return (
              <li class="px-2 py-1 font-normal text-xs tracking-widest uppercase border border-emerald-400 text-white rounded-md">
                {technology}
              </li>
            );
          })
        }
      </ul>
      <p
        class="font-normal text-base leading-normal tracking-wider text-sky-200 flex-grow"
      >
        {description}
      </p>
    </div>
  </a>
  {
    repository && (
      <a
        href={repository}
        target="_blank"
        rel="noopener"
        class="pl-7 pb-7 w-fit tex-white flex items-center gap-2 text-base font-bold"
      >
        <Github />
        Code
      </a>
    )
  }
</article>
